*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
/*Primary colors*/
    --lightblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

/*Neutral colors*/
    --dark-blue: hsl(217, 54%, 11%);
    --blue: hsl(216, 50%, 16%);
    --grayish-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

/*Font-weights*/
    --normal: 300;
    --medium: 400;
    --bold: 600;
}

html {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

body {    
    min-height: 100vh;

    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 85%;

    background-color: var(--blue);
    border-radius: 1rem;

    padding: 1.15rem;
}

.hero-image {
    width: 100%;

    border-radius: 0.5rem;

    display: block;
}

/*This is for the overlay*/
.overlay {
    content: "";
    width: 100%;
    height: 100%;

    background-color: var(--cyan);
    border-radius: 0.5rem;

    z-index: 2;
}

/*This centers the view icon in the image*/
.image {
    position: relative;
}

.icon-view,
.overlay {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    opacity: 0;
}

.icon-view {
    z-index: 3;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price,
.duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.credit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Colors and sizes*/
.item-name,
.creator {
    color: var(--white);
}

.item-name {
    font-size: 1.35rem;
    font-weight: var(--bold);

    margin: 1.15rem 0;
}

.item-description,
.duration p,
.credit p {
    color: var(--lightblue);
    font-size: 1rem;
    font-weight: var(--normal);
}

.price {
    color: var(--cyan);
    font-weight: var(--bold);

    margin: 1.15rem 0;
}

hr {
    height: 0.05rem;
    border: none;

    margin: 0 0 1.15rem;

    background-color: var(--grayish-blue);
}

.credit {
    gap: 1rem;
}

.image-avatar {
    aspect-ratio: 1 / 1;
    width: 2rem;

    border: 1px solid var(--white);
    border-radius: 50%;
}

/*Hover and active states*/
.image:hover {
    cursor: pointer;
}

.image:hover .icon-view {
    opacity: 1;
}

.image:hover .overlay {
    opacity: 0.5;
}

.item-name:hover {
    cursor: pointer;

    color: var(--cyan);
}

.creator:hover {
    cursor: pointer;

    color: var(--cyan);
}