*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
/*Primary colors*/
    --lightblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

/*Neutral colors*/
    --dark-blue: hsl(217, 54%, 11%);
    --blue: hsl(216, 50%, 16%);
    --grayish-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

/*Font-weights*/
    --normal: 300;
    --medium: 400;
    --bold: 600;
}

html {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body {    
    height: 100vh;

    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 85%;

    background-color: var(--blue);

    padding: 1.5rem;
}

.hero-image {
    width: 100%;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price,
.duration {
    display: flex;
    gap: 0.5rem;
}

.credit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}