*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
/*Primary colors*/
    --lightblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

/*Neutral colors*/
    --dark-blue: hsl(217, 54%, 11%);
    --blue: hsl(216, 50%, 16%);
    --grayish-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

/*Font-weights*/
    --normal: 300;
    --medium: 400;
    --bold: 600;
}

html {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body {    
    height: 100vh;

    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 85%;

    background-color: var(--blue);

    padding: 1.5rem;
}

.hero-image {
    width: 100%;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price,
.duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.credit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Colors and sizes*/
.item-name,
.creator {
    color: var(--white);
}

.item-name {
    font-size: 1.25rem;
}

.item-description,
.duration p,
.credit p {
    color: var(--lightblue);
    font-size: 1rem;
    font-weight: var(--normal);
}

.price {
    color: var(--cyan);
    font-weight: var(--medium);
}

.image-avatar {
    aspect-ratio: 1 / 1;
    width: 2rem;
}

.eth-icon,
.clock.icon {
    aspect-ratio: 1 / 1;
    width: .5rem;
}